canvas {
    padding: 0;
    margin: auto;
    display: block;
}

body {
    text-align: center;
}

.freeze {
    pointer-events: none;
}

.hidden {
    display: none;
}

.overlay {
    color: black;
}

#controls, sub, h1, h3 {
    text-align: center;
    font-family: cursive;
    color: #6200ee;
}

h4 {
    text-align: center;
    font-family: cursive;
    color: goldenrod;
}

.mdc-dialog {
    position: sticky;
}