canvas {
    padding: 0;
    margin: auto;
    display: block;
}

body {
    text-align: center;
}

.freeze {
    pointer-events: none;
}

.hidden {
    display: none;
}

.overlay {
    color: black;
}